.StormingPageBox {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-rows: 200px 500px;
  }
  
  .StormingPageBoxHeadings {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
  }
  
  .StormingPageBoxItems {
      display: flex;
      flex-direction: column;
      align-items: space-between;
      gap: 60px;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');