.LoginForm {
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    background-size: contain;
    height: 400px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    padding-right: 50px;
    padding-left: 50px;
    gap: 20px;
}

.LoginFormHeading {
    display: flex;
    justify-content: center;;
}

.LoginFormInputBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    gap: 20px;
}

.LoginFormInput {
    height: 40px;
    width: 400px;
}

.LoginFormBox {
    height: 800px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.LoginFormButtonBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LoginFormButton {
    height: 40px;
    width: 400px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}


.LoginFormButton:hover {
    transition: 500ms;
    box-shadow: inset 0 0 0 5px rgba(176, 171, 199, 0.867);
}