.SecondPageWrapperStagesCard {
    display: grid;
    border: 2px solid black;
    grid-row-start: 4;
    grid-column: 5 / span 3;
    background-color: lightblue;
    border-radius: 20px;
}

.SecondPageWrapperStagesCardHeading {
    border: none;
    display: grid;
    justify-content: center;
    align-items: center;
}
