.SecondPageWrapperDispatcherCards {
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    grid-template-rows: 400px 200px;
}

.SecondPageWrapperDispatcherCardsImage {
    background-image: url(./Кот-диспетчер\ \(зеркалка\).png);
    background-size: contain;
    background-repeat: no-repeat;
}

.SecondPageWrapperDispatcherCardsButtonBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.SecondPageWrapperDispatcherCardsButton {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 20px;
    background-color: rgba(230, 227, 244, 0.867);
    color: black;
    font-size: 25px;
    cursor: pointer;
    border: none;
}

.SecondPageWrapperDispatcherCardsButton:hover {
    transition: 500ms;
    transform: translateY(-10px) translateX(-10px);
    box-shadow: 10px 10px 10px rgba(176, 171, 199, 0.867);
}

    




