.FormCatBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    
    background-size: cover;
    border-radius: 20px;
}

.FormCatBoxDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(111, 166, 211);
    height: 100px;
    border-top: 2px solid black;
}

.FormingCatBoxComplete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-top: 2px solid black;
    border-radius: 0px 0px 20px 20px;
}