.ArticleBoxCulture {
    display: grid;
    grid-template-rows: 350px 200px 200px 100px;
}

.ArticleBoxCultureImage {
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 300px;
}

.ArticleBoxCultureImageItself {
    grid-column-start: 2;
    grid-column-end: 3;
    background-image: url(./Ryan_gosling.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
}

.ArticleBoxCultureHeading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.ArticleBoxCultureText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

.ArticleBoxCultureButtonArea {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ArticleBoxCultureButtonAreaButton {
    height: 70px;
    width: 250px;
    border: none;
    border-radius: 20px;
    background-color: rgba(230, 227, 244, 0.867);
    text-decoration: none;
    font-size: 15px;
    color: black;
    cursor: pointer;
}

.ArticleBoxCultureButtonAreaButton:hover {
    transition: 500ms;
    transform: translateY(-10px) translateX(-10px);
    box-shadow: 10px 10px 10px rgba(176, 171, 199, 0.867);
}

.ArticleBoxCultureButtonAreaButton:not(:hover) {
    transition: 500ms;
}




