.FourStagesPageWrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(12, 1fr);
    gap: 50px;
    background-size: contain;
    font-family: 'Montserrat', sans-serif;
}

.FourStagesPageWrapperHeadingBox {
    height: 80px;
    margin-top: 60px;
    display: grid;
    grid-row-start: 1;
    grid-column-start: 4;
    grid-column-end: 10;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap');

