.QuestionModal {
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top: 30px;
    bottom: 30px;
    right: 100px;
    left: 100px;
    border-radius: 20px;
    background-color: rgb(111, 166, 211);
}

.QuestionModalHeading {
    padding-top: 10px;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.QuestionModal {
    display: grid;
    grid-template-rows: 70px 1fr;
    align-items: start; 
}



