.MainPage{
    background-color: azure;
    justify-content: center;
    background-image: url(./components/cats_pattern.jpg);
    background-size: contain;
}

.background {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
    background-size: contain;
}