.Footer { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px;
    background-color: black;
    margin-top: 30px;
}

.FooterContentInfoBox {
    padding-bottom: 1px;
    border-bottom: 2px solid white;
}

.FooterContent {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
}

