.NavButton{
    height: 70px;
    width: 250px;
    border: none;
    border-radius: 20px;
    background-color: rgba(230, 227, 244, 0.867);
    text-decoration: none;
    font-size: 15px;
    color: black;
    cursor: pointer;
}

.NavButton:hover {
    transition: 500ms;
    box-shadow: inset 0 0 0 5px rgba(176, 171, 199, 0.867);
}


.NavButton:not(:hover) {
    transition: 500ms;
}
